
/* Custom CSS for Kevin Moore Fanpage */

/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}


h1, h2,
h3, h4, {
  text-wrap: balance;
}

p {
    text-wrap: pretty;
}


a {
    color: inherit;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* CUSTOM PROPERTIES */

:root {
    --clr-1: #003a70;
    --clr-2: #fea181;
    --clr-3: #96d6f8;
    --clr-4: #e0f3fd;
    --clr-5: #8dbedc;
    --clr-6: #b7d7ea;
    --clr-7: #e2eff6;
    --clr-8: #1c1817;


    --clr-9: #22223b;
    --clr-10: #4a4e69;
    --clr-11: #9a8c98;
    --clr-12: #c9ada7;
    --clr-13: #f2e9e4;

    --clr-bice-blue: #0E6BA8;
    --clr-non-photo-blue: #A6E1FA;

    --clr-dark-red: #780000;
    --clr-red: #c1121f;
    --clr-cream: #fdf0d5;
    --clr-dark-blue: #003049;
    --clr-light-blue: #669bbc;

    --clr-test1: #263040;
    --clr-test2: #334865;
    --clr-test3: #F4FAFF;
    --clr-test4: #F1F1E6;
    --clr-test5: #00A2FF;

    --clr-test3-mod1: #E9F5FF;
    --clr-test3-mod2: #D6EDFF;

    --clr-gold: #683E00;
    --clr-blue: #00C6FF;

}


/* GLOBAL STYLES */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
   font-size: 3rem; 
   font-family: 'Montserrat', sans-serif;
}

h2 {
    text-align: center;
}


.section-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-block: 3rem;
    color: var(--clr-test1);
    letter-spacing: .1rem;
}

.accent {
    font-weight: 700;
    color: var(--clr-test1);
}

.wrapper {
    --gap: 3rem;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr;
    padding: 3rem;
}

/* HEADER */

header, footer {
    text-align: center;
    background-color: var(--clr-test1);
    color: var(--clr-test3);
    padding: 2rem;
}

.tagline {
    font-size: 1.3rem;
    font-family: 'Courgette', cursive;
    margin-block: .5rem;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}


.menu-item__link {
    color: var(--clr-test3);
    text-underline-offset: .5rem;
    text-decoration-color: var(--clr-test5);
    text-decoration: none;
    position: relative;
}

.menu-item__link:is(:hover, :focus) {
    color: var(--clr-blue);
}

.menu-item__link::after {
    display: block;
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--clr-blue);
    position: absolute;
    bottom: -.25rem;
    transition: width .3s ease-in-out;
}

.menu-item__link:is(:hover, :focus)::after {
    width: 100%;
}


/* MAIN */


/* DISCOGRAPHY */

#discography {
    background-color: var(--clr-test3);
}

#gallery {
    /* background-color: var(--clr-light-blue); */
}

#gear, #lyrics-quotes {
    /* background-color: var(--clr-test1); */
}

.album {
    --bg: transparent;
    background-color: var(--bg);
    padding-block: 3rem;
}

.album-1 {
    /* --bg: #afcce9; */
    /* --bg: var(--clr-2); */
}

.album-2 {
    --bg: var(--clr-test3-mod1);
}

.album-3 {
    --bg: var(--clr-test3-mod2);
}


.album__head {
    padding: 2rem;
    text-align: center;
}

.album-title {
    margin-top: 1rem;
    text-transform: uppercase;
    color: var(--clr-test1);
}

.album-cover {
    border-radius: 10px;
}

.album__info {
    line-height: 1.5;
}

.album-quote {
    font-style: italic;
}


 
/* Album Info-box */

.album__info-box ol {
    padding-inline-start: 2rem;
}

.album__info-box ol li {
    line-height: 1.6;
    max-width: 20ch;
    text-wrap: pretty;
}



/* GALLERY */

.wrapper img {
    height: 100%;
    cursor: pointer;
}

.gallery-img {
    border-radius: 10px;
    
    &:is(:focus, :hover) {
        opacity: .9;
        transition: .2s;
    }
}

.gallery-item {
    display: grid;
    grid-template-rows: 4fr 2fr;
    gap: 1rem;
    text-align: center;
}

.gallery-item__text {
    text-wrap: balance;
}


/* GEAR */

.gear-item {
    display: grid;
    grid-template-rows: 4fr 2fr;
    gap: 1rem;
    text-align: center;
}

.gear-item__text__title {
    margin-bottom: .5em;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--clr-test1);
}


/* LYRICS QUOTES */

#lyrics-quotes {
    background-color: var(--clr-test2);
    color: var(--clr-test3);
}

#lyrics-quotes .section-title__heading {
    color: var(--clr-test3);
}

.quotes {
    display: grid;
    place-content: center;
    gap: 3rem;
    padding-block: 3rem;
}


.lyric {
    font-weight: 600;
    font-size: 1.2rem;
    position: relative;
}

.lyric::before {
    content: open-quote;
    color: var(--clr-test5);
    position: absolute;
    left: -1rem;
    font-weight: 900;
}

.lyric::after {
    content: close-quote;
    color: var(--clr-test5);
    font-weight: 900;
}

.lyric-origin {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Montserrat';
    font-style: italic;
    color: var(--clr-blue);
}

/* FOOTER */

footer a:is(:hover) {
    color: var(--clr-blue);
    transition: .2s;
}


/* Responsive layout - makes a three column layout instead of a one-column layout */
@media (min-width: 45rem) {
    .wrapper{
        grid-template-columns: repeat(3, 1fr);
        --gap: 2.5rem;
    }
  }



 